# NodeJS / TypeScript
node_modules/
dist/
*.tsbuildinfo
npm-debug.*
yarn-debug.*
yarn-error.*
.env
.env.*

# MacOS
.DS_Store
*.pem

# Expo / React Native
.expo/
web-build/
expo-env.d.ts
.metro-health-check*
app-example

# Native (iOS/Android)
/frontend/ios
/frontend/android
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Backend / Database
/backend/prisma/migrations/
/backend/generated/
backend/nul
